<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Update User</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>
<body>

<div class="container my-5">
  <h3> Add Employee</h3>
  <div class="card">
    <div class="card-body">
      <div class="col-md-8">
        <form action="#"
              th:action="@{/employee/register}"
              th:object="${employeeDto}" method="post">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="first_name" class="col-form-label">first_name</label> <input
                    type="text" th:field="*{first_Name}" class="form-control" id="first_name">
            </div>
            <div class="form-group col-md-8">
              <label for="salary" class="col-form-label">salary</label> <input
                    type="text" th:field="*{Salary}" class="form-control" id="salary">
            </div>
            <div class="form-group col-md-8">
              <label for="second_name" class="col-form-label">second_name</label> <input
                    type="text" th:field="*{second_Name}" class="form-control" id="second_name">
            </div>

            <div class="form-group col-md-8">
              <input type="submit" class="btn btn-primary"
                     value="Add Employee">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>