<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Serenity - Modern bootstrap website template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/assets/css/docs.css" rel="stylesheet">
  <link href="/assets/css/prettyPhoto.css" rel="stylesheet">
  <link href="/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/color/default.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- =======================================================
    Theme Name: Serenity
    Theme URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
<header>
  <!-- Navbar
  ================================================== -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- logo -->
        <a class="brand logo" href="index.html"><img src="/assets/img/EmployeeLogo.png" width="132" height="29" alt=""></a>
        <!-- end logo -->
        <!-- top menu -->
        <div class="navigation">
          <nav>
            <ul class="nav topnav">
              <li class="dropdown active">
                <a th:href="@{/employee/home}">Home</a>
              </li>
              <li class="dropdown">
                <a href="#">Services</a>
                <ul class="dropdown-menu">
                  <li><a th:href="@{/employee/view}">Show All</a></li>
                  <li><a th:href="@{/employee/search}">Search</a></li>
                  <li><a th:href="@{/employee/patch}">Update Data </a></li>
                  <li><a th:href="@{/employee/update}">Update Employee</a></li>
                  <li><a th:href="@{/employee/register}">Add</a></li>
                  <li><a th:href="@{/employee/delete}">Delete</a></li>
                </ul>
              </li>
              <li  class="contactForm">
                <a th:href="@{/employee/contact}">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- end menu -->
      </div>
    </div>
  </div>
</header>
  <!-- Subhead
================================================== -->

  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="#">Home</a><span class="divider">/</span></li>
            <li class="active">Contact</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span4">
          <aside>
            <div class="widget">
              <h4>Get in touch with us</h4>
              <ul>
                <li><label><strong>Phone : </strong></label>
                  <p>
                    02 24054472
                  </p>
                </li>
                <li><label><strong>Hotline : </strong></label>
                  <p>
                    15200
                  </p>
                </li>
                <li><label><strong>Email : </strong></label>
                  <p>
                    MohamedYehia@EBI.com
                  </p>
                </li>
                <li><label><strong>Address : </strong></label>
                  <p>
                    22 A, Dr. Anwar Al Mofti St Tiba 2000 Administrative Building, Al Manteqah Al Oula, Nasr City, Cairo Governorate 11759
                  </p>
                </li>
              </ul>
            </div>
            <div class="widget">
              <h4>Social network</h4>
              <ul class="social-links">
                <li><a href="#" title="Twitter"><i class="icon-rounded icon-32 icon-twitter"></i></a></li>
                <li><a href="#" title="Facebook"><i class="icon-rounded icon-32 icon-facebook"></i></a></li>
                <li><a href="#" title="Google plus"><i class="icon-rounded icon-32 icon-google-plus"></i></a></li>
                <li><a href="#" title="Linkedin"><i class="icon-rounded icon-32 icon-linkedin"></i></a></li>
                <li><a href="#" title="Pinterest"><i class="icon-rounded icon-32 icon-pinterest"></i></a></li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="span8">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4248.751507643776!2d31.329925999999997!3d30.0668643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583e41e7ef49b5%3A0xf7397938366ae2b0!2sEgyptian%20Banking%20Institute%20(EBI)!5e1!3m2!1sen!2seg!4v1726382701413!5m2!1sen!2seg"
                  width="600"
                  height="450"
                  style="border:0;"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade">

          </iframe>"

          <div class="spacer30"></div>

          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="row">
              <div class="span4 form-group">
                <label for="name"></label><input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
                                                 data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>

              <div class="span4 form-group">
                <label for="email"></label><input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email"
                                                  data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="span8 form-group">
                <label for="subject"></label><input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4"
                                                    data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="span8 form-group">
                <label>
<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"
  placeholder="Message"></textarea>
                </label>
                <div class="validation"></div>
                <div class="text-center">
                  <button class="btn btn-color btn-rounded" type="submit">Send message</button>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>
  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="widget">
            <h5>Browse pages</h5>
            <ul class="regular">
              <li><a href="#">Work for us</a></li>
              <li><a href="#">Creative process</a></li>
              <li><a href="#">Case study</a></li>
              <li><a href="#">Scaffold awwards</a></li>
              <li><a href="#">Meet the team</a></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <h5>Recent blog posts</h5>
            <ul class="regular">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Mea malis nominavi insolens ut</a></li>
              <li><a href="#">Minim timeam has no aperiri sanctus ei mea per pertinax</a></li>
              <li><a href="#">Te malorum dignissim eos quod sensibus</a></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <!-- logo -->
            <a class="brand logo" href="index.html">
              <img src="/assets/img/logo-dark.png" alt="" />
            </a>
            <!-- end logo -->
            <address>
              <strong>Registered Companyname, Inc.</strong><br>
              8895 Somename Ave, Suite 600<br>
              San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              &copy; Serenity - All right reserved
            </p>
          </div>
          <div class="span6">
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Serenity
              -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript Library Files -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.easing.js"></script>
  <script src="/assets/js/google-code-prettify/prettify.js"></script>
  <script src="/assets/js/modernizr.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
  <script src="/assets/js/jquery.elastislide.js"></script>
  <script src="/assets/js/sequence/sequence.jquery-min.js"></script>
  <script src="/assets/js/sequence/setting.js"></script>
  <script src="/assets/js/jquery.prettyPhoto.js"></script>
  <script src="/assets/js/application.js"></script>
  <script src="/assets/js/jquery.flexslider.js"></script>
  <script src="/assets/js/hover/jquery-hover-effect.js"></script>
  <script src="/assets/js/hover/setting.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="/contactform/contactform.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="/assets/js/custom.js"></script>


</body>

</html>
