<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Serenity - Modern bootstrap website template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/assets/css/docs.css" rel="stylesheet">
  <link href="/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/color/default.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- =======================================================
    Theme Name: Serenity
    Theme URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
<header>
  <!-- Navbar
  ================================================== -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- logo -->
        <a class="brand logo" href="/index"><img src="/assets/img/EmployeeLogo.png" alt=""></a>
        <!-- end logo -->
        <!-- top menu -->
        <div class="navigation">
          <nav>
            <ul class="nav topnav">
              <li class="dropdown active">
                <a th:href="@{/employee/home}">Home</a>
              </li>
              <li class="dropdown">
                <a href="#">Services</a>
                <ul class="dropdown-menu">
                  <li><a th:href="@{/employee/view}">Show All</a></li>
                  <li><a th:href="@{/employee/search}">Search</a></li>
                  <li><a th:href="@{/employee/patch}">Update Data </a></li>
                  <li><a th:href="@{/employee/update}">Update Employee</a></li>
                  <li><a th:href="@{/employee/register}">Add</a></li>
                  <li><a th:href="@{/employee/delete}">Delete</a></li>
                </ul>
              </li>
              <li  class="contactForm">
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- end menu -->
      </div>
    </div>
  </div>
</header>
<!-- Subhead
================================================== -->
<section id="subintro">
  <div class="jumbotron subhead" id="overview">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="centered">
            <h3>Save</h3>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul class="breadcrumb notop">
          <li><a href="#">Home</a><span class="divider">/</span></li>
          <li class="active">Show All</li>
        </ul>
        <a th:href="@{/employee/register}"> add employee <</a>
        <form action="#"
              th:action="@{/employee/delete}"
              th:object="${employeeSaveDto}" method="post">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="id" class="col-form-label">id</label> <input
                    type="text" th:field="*{id}" class="form-control" id="id">
            </div>

            <div class="form-group col-md-8">
              <input type="submit" class="btn btn-primary"
                     value="Delete">
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3>Employees </h3>
        <div class="row">
          <div class="span3">
            <div class="priceBox">
              <!--              <table>-->
              <!--                <thead>-->
              <!--                <tr>-->
              <!--                  <th>First Name</th>-->
              <!--                  <th>Salary</th>-->
              <!--                  <th>Second Name</th>-->
              <!--                </tr>-->
              <!--                </thead>-->
              <!--                <tbody>-->
              <!--                <tr th:each="employee : ${response.getData()}">-->
              <!--                  <td th:text="${employee.first_Name}"></td>-->
              <!--                  <td th:text="${employee.salary}"></td>-->
              <!--                  <td th:text="${employee.second_Name}"></td>-->

              <!--                </tr>-->
              <!--                </tbody>-->
              <!--              </table>-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- JavaScript Library Files -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.easing.js"></script>
<script src="/assets/js/google-code-prettify/prettify.js"></script>
<script src="/assets/js/modernizr.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/jquery.elastislide.js"></script>
<script src="/assets/js/sequence/sequence.jquery-min.js"></script>
<script src="/assets/js/sequence/setting.js"></script>
<script src="/assets/js/jquery.prettyPhoto.js"></script>
<script src="/assets/js/application.js"></script>
<script src="/assets/js/jquery.flexslider.js"></script>
<script src="/assets/js/hover/jquery-hover-effect.js"></script>
<script src="/assets/js/hover/setting.js"></script>

<!-- Template Custom JavaScript File -->
<script src="/assets/js/custom.js"></script>


</body>

</html>
