<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>EMS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/assets/css/docs.css" rel="stylesheet">
  <link href="/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/color/default.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- =======================================================
    Theme Name: Serenity
    Theme URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
<header>
  <!-- Navbar
  ================================================== -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- logo -->
        <a class="brand logo" href="/index"><img src="/assets/img/EmployeeLogo.png" width="132" height="29" alt=""></a>
        <!-- end logo -->
        <!-- top menu -->
        <div class="navigation">
          <nav>
            <ul class="nav topnav">
              <li class="dropdown active">
                <a th:href="@{/employee/home}">Home</a>
              </li>
              <li class="dropdown">
                <a href="#">Services</a>
                <ul class="dropdown-menu">
                  <li><a th:href="@{/employee/view}">Show All</a></li>
                  <li><a th:href="@{/employee/search}">Search</a></li>
                  <li><a th:href="@{/employee/patch}">Update Data </a></li>
                  <li><a th:href="@{/employee/update}">Update Employee</a></li>
                  <li><a th:href="@{/employee/register}">Add</a></li>
                  <li><a th:href="@{/employee/delete}">Delete</a></li>
                </ul>
              </li>
              <li  class="contactForm">
                <a th:href="@{/employee/contact}">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- end menu -->
      </div>
    </div>
  </div>
</header>
<!-- Subhead
================================================== -->
<section id="subintro">
  <div class="jumbotron subhead" id="overview">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="centered">
            <h3>Error</h3>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul class="breadcrumb notop">
          <li><a href="#">Home</a><span class="divider">/</span></li>
          <li class="active">Error</li>
        </ul>
        <a th:href="@{/employee/register}"> add employee <</a>
        <style>
          table {
            width: 100%;
            border-collapse: collapse; /* Ensures that borders between cells are collapsed into a single border */
          }
          th, td {
            padding: 10px; /* Adds padding inside each cell */
            border: 1px solid #ddd; /* Adds a light border around each cell */
          }
          thead th {
            background-color: #4CAF50; /* Green background for table header */
            color: white; /* White text color for header */
            text-align: left; /* Aligns header text to the left */
          }
          tbody tr:nth-child(odd) {
            background-color: #f2f2f2; /* Light gray background for odd rows */
          }
          tbody tr:hover {
            background-color: #ddd; /* Highlight background on hover for rows */
          }
        </style>
        <table>
          <thead>
          <tr>
            <th>errorCode</th>
            <th>message</th>
            <th>codeDetails</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="resonse : ${response}">
            <td th:text="${response.errorCode}"></td>
            <td th:text="${response.message}"></td>
            <td th:text="${response.codeDetails}"></td>

          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</section>

<!-- JavaScript Library Files -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.easing.js"></script>
<script src="/assets/js/google-code-prettify/prettify.js"></script>
<script src="/assets/js/modernizr.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/jquery.elastislide.js"></script>
<script src="/assets/js/sequence/sequence.jquery-min.js"></script>
<script src="/assets/js/sequence/setting.js"></script>
<script src="/assets/js/jquery.prettyPhoto.js"></script>
<script src="/assets/js/application.js"></script>
<script src="/assets/js/jquery.flexslider.js"></script>
<script src="/assets/js/hover/jquery-hover-effect.js"></script>
<script src="/assets/js/hover/setting.js"></script>

<!-- Template Custom JavaScript File -->
<script src="/assets/js/custom.js"></script>


</body>

</html>
